src/main/resources/createContract_in.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="order" type="orderType"/>

    <xs:complexType name="servicePriceType">
    <xs:sequence>
      <xs:element type="xs:string" name="activation"/>
      <xs:element type="xs:string" name="recurring"/>
      <xs:element type="xs:string" name="deactivation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="customerType">
    <xs:sequence>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="customerType"/>
      <xs:element type="xs:string" name="idNumber"/>
      <xs:element type="xs:string" name="idNumberType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="accountAndCustomerActionEnum">
      <xs:restriction base="xs:string">
          <xs:enumeration value="CREATE"/>
          <xs:enumeration value="UPDATE"/>
      </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="orderType">
    <xs:sequence>
      <xs:element type="accountType" name="account"/>
      <xs:element type="accountAndCustomerActionEnum" name="accountAction"/>
      <xs:element type="customerType" name="customer"/>
      <xs:element type="accountAndCustomerActionEnum" name="customerAction"/>
      <xs:element type="contractsType" name="contracts"/>
      <xs:element type="xs:string" name="action"/>
      <xs:element type="issueContextType" name="issueContext"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="billingAddressType">
    <xs:sequence>
      <xs:element type="addressType" name="address"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contractsType">
    <xs:sequence>
      <xs:element type="contactType" name="contact"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serviceParameterType">
    <xs:sequence>
      <xs:element type="xs:string" name="parameterName"/>
      <xs:element type="xs:string" name="parameterValue"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accountType">
    <xs:sequence>
      <xs:element type="billingAddressType" name="billingAddress"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactType">
    <xs:sequence>
      <xs:element type="xs:string" name="msisdn"/>
      <xs:element type="xs:string" name="ratePlan"/>
      <xs:element type="xs:string" name="startDate"/>
      <xs:element type="xs:string" name="billingDay"/>
      <xs:element type="xs:string" name="loyaltyLength"/>
      <xs:element type="xs:string" name="terminal"/>
      <xs:element type="xs:string" name="terminalPriceNetto"/>
      <xs:element type="xs:string" name="monthlyCommitmentNetto"/>
      <xs:element type="servicesType" name="services"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element type="xs:string" name="street"/>
      <xs:element type="xs:string" name="postalCode"/>
      <xs:element type="xs:string" name="city"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servicesType">
    <xs:sequence>
      <xs:element type="serviceType" name="service" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceType" mixed="false">
    <xs:sequence>
      <xs:element type="serviceParameterType" name="serviceParameter" minOccurs="0"/>
      <xs:element type="servicePriceType" name="servicePrice" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="is" use="optional"/>
  </xs:complexType>

  <xs:complexType name="issueContextType">
    <xs:sequence>
      <xs:element type="xs:string" name="sellerId"/>
      <xs:element type="xs:dateTime" name="creationDate"/>
      <xs:element type="xs:string" name="channel"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>